/* helpers */

.spacer {
  height: 50px;}
.spacer-half {
  height: 25px;
}
.spacer-line {
  height: 15px;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-border {
  border: none;
}
@for $i from 10 through 30 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

// variables
$white: #FBFFFE;
$main-bg: #102133;
$blue-bg: #002642;
$off-white: #E5E8E7;
$slategrey: #607d8b;
$orange: #F77F00;
$darkslategrey: #263238;
$red: #FF0000;

@mixin display-flex-center-align-column{
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column;
}
