/* helpers */
.spacer {
  height: 50px; }

.spacer-half {
  height: 25px; }

.spacer-line {
  height: 15px; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.no-border {
  border: none; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 400; }

body {
  background: #E5E8E7;
  color: #FBFFFE; }
  body p {
    font-size: 16px; }

img {
  width: 100%; }

header.top-header {
  min-height: 375px;
  background: url("../images/kyle-gregory-devaras-241280.png") center;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column; }
  header.top-header h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: 900; }
    @media (min-width: 992px) {
      header.top-header h1 {
        font-size: 80px; } }
  header.top-header p {
    font-size: 24px; }
    @media (min-width: 992px) {
      header.top-header p {
        font-size: 32px; } }

.inventory-header {
  text-align: center;
  min-height: 120px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: column; }
  .inventory-header h1 {
    color: #002642;
    font-size: 45px;
    font-weight: 700; }
    @media (min-width: 992px) {
      .inventory-header h1 {
        font-size: 70px; } }

.main-container {
  position: relative;
  height: auto;
  overflow: hidden; }
  .main-container .ship-tab {
    position: relative; }
  .main-container .ship-info-container {
    background: #607d8b;
    min-height: 600px;
    padding: 15px 0;
    border-radius: 4px;
    position: absolute;
    top: 70px;
    right: 100%;
    color: #FBFFFE;
    width: 100%; }
    @media (min-width: 992px) {
      .main-container .ship-info-container > div {
        display: flex;
        align-items: center; } }
    .main-container .ship-info-container .info-image {
      border-radius: 4px;
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.25), 10px 10px 15px 0 rgba(0, 0, 0, 0.25) !important;
      position: relative;
      background: #FBFFFE;
      margin: 0 auto;
      max-width: 300px;
      height: 400px;
      display: flex;
      align-items: center; }
      .main-container .ship-info-container .info-image img {
        max-width: 350px; }
    .main-container .ship-info-container h1.ship-name {
      font-size: 38px;
      font-weight: 600; }
    .main-container .ship-info-container .ship-price {
      margin: 0 20px 0 0;
      font-weight: 700; }
    .main-container .ship-info-container .sub-text {
      font-weight: 400; }
    .main-container .ship-info-container .fa {
      min-width: 32px;
      font-size: 20px;
      color: #002642; }
    .main-container .ship-info-container .ship-home:hover {
      cursor: pointer; }
    .main-container .ship-info-container a.btn {
      width: 125px; }
  .main-container a.btn {
    background-color: #FBFFFE;
    border: 0.5px solid #F77F00;
    color: #F77F00;
    border: none;
    padding: 10px 0;
    margin: 5px 0;
    font-size: 16px; }
    .main-container a.btn:hover {
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25), 5px 5px 10px 0 rgba(0, 0, 0, 0.25) !important;
      transition: 0.15s;
      background-color: #F77F00;
      color: white; }

.ship-card {
  position: relative;
  background-color: #FBFFFE;
  margin-bottom: 30px;
  color: #333;
  border-radius: 4px; }
  .ship-card .card-image {
    max-width: 60%;
    margin: 0 auto; }
  .ship-card .name {
    font-size: 18px;
    font-weight: 400;
    background: #607d8b;
    color: #FBFFFE;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .ship-card .ship-info {
    display: flex;
    flex-direction: column;
    min-height: 230px; }
    .ship-card .ship-info p {
      padding-left: 10px; }
    .ship-card .ship-info .buttons {
      display: flex;
      justify-content: center;
      flex: 1;
      flex-direction: column;
      margin-top: auto;
      margin-bottom: 10px; }
      .ship-card .ship-info .buttons .ship-btn {
        background-color: #002642; }
      .ship-card .ship-info .buttons .buy-btn {
        background-color: #F77F00; }
      .ship-card .ship-info .buttons a.btn {
        border: none;
        padding: 10px 0;
        margin: 5px 10px;
        color: #FBFFFE; }
        .ship-card .ship-info .buttons a.btn:hover {
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25), 5px 5px 10px 0 rgba(0, 0, 0, 0.25) !important;
          transition: 0.15s; }
        @media (min-width: 768px) {
          .ship-card .ship-info .buttons a.btn {
            width: 125px; } }
      @media (min-width: 768px) {
        .ship-card .ship-info .buttons {
          flex-direction: row;
          flex: 0; } }

/*# sourceMappingURL=style.css.map */
